* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.inner-content {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 3rem;
  background-color: rgb(0, 0, 0);
  min-height: 50px;
  z-index: 999;
  transition: 0.5s;
}

.nav-locations {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.nav-locations li {
  transition: 0.3s;
}

.nav-locations li a {
  padding: 20px 25px;
  margin: 0;
  list-style: none;
  display: block;

  transition: 0.3s;
}

.nav-locations li a:hover {
  box-shadow: 0 -5px 0 #22b6d3 inset;
  background-color: #1b3638;
  padding: 15px 25px 25px 25px;
}

.site-title {
  font-size: 1.2rem;
  font-weight: 800;
  color: #edeeff;
}

.site-title:hover {
  color: #22b6d3;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #009f50;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #edeeff;
  background-color: #1a7e4c;
}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mobile-menu-trigger {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 800px) {
  .nav-locations {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
