* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.inner-content {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 3rem;
  background-color: rgb(0, 0, 0);
  min-height: 50px;
  z-index: 999;
}

.nav-locations {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.site-title {
}
