.form-container {
  display: flex;
  flex-direction: column;
}

.signup-form {
  border: 1px solid #22b6d3;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 1px 1px 10px #22b6d3;
  margin-top: 20vh;
}

.h2-login {
  padding: 0 0 50px 0;
}

.signup-btn {
  width: 100%;
  color: black;
  margin: 10px 0;
}

.input-signup {
  margin: 10px 0;
  padding: 10px;
  color: black;
}
